<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css">

<div id="animacion">
  
</div>

<nav id="menu">
  <div id="logo">
    <span>Brandon Sandoval</span>
  </div>
  <ul id="menu-links">
    <li><a href="#portafolio">Portafolio</a></li>
    <li><a href="#acerca">Acerca de</a></li>
    <li><a href="#contacto">Contacto</a></li>
  </ul>
</nav>



<div id="contenedor">
  <div id="texto">
    <h1 id="nombre">Hola!! me Brandon Sandoval</h1>
    <p>
      Soy desarrollador web y me especializo en el desarrollo del 
      componente Backend. <br>
      La tecnología me inspira y motiva a seguir aprendiendo y explorando nuevas soluciones.
      
    </p>
  </div>
  <img alt="foto de perfil" [src]="fotoUrl" id="mi-foto"/>
</div>
  
<h3 id="portafolio">Mi Portafolio</h3>
<div id="contenedor-carrusel">

  <p id="texto-portafolio">
    Para finalizar mi carrera en Tecnología en Desarrollo de Software, 
    realicé un trabajo de integración curricular que consistió en desarrollar
    un e-commerce para la venta de artesanías. El proyecto fue implementado utilizando 
    JavaScript para la parte del Backend y React para el Frontend. Además, para la gestión 
    de productos y el registro de usuarios se utilizó MongoDB Atlas.
  </p>
  
  <app-carousel></app-carousel>
  
  
  <p id="link-artesanias">Link de la aplicación web:
    <a href="https://artesanias-jimenez.vercel.app" target="_blank">https://artesanias-jimenez.vercel.app</a>
  </p>
</div>

<h3 id="acerca">Acerca de mi</h3>
<div id="contenedor-acerca">
  <p id="acerca_texto">
    Soy Brandon, y soy un desarrollador de Software de Ecuador, 
    y me apasiona aprender y crecer en el campo de la tecnología, 
    así como en mi desarrollo personal y profesional. Actualmente manejo diferentes lenguajes de programación y de 
    bases de datos.
  </p>


  <h2>Habilidades</h2>

  <div class="skills-section">
    <h3>Lenguajes de programación</h3>
    <ul>
      <li><i class="devicon-javascript-plain"></i> JavaScript</li>
      <li><i class="devicon-python-plain"></i> Python</li>
      <li><i class="devicon-angularjs-plain"></i> Angular</li>
      <li><i class="devicon-java-plain"></i> Java</li>
      <li><i class="devicon-tensorflow-original"></i> TensorFlow</li>



    </ul>
  </div>

  <div class="skills-section">
    <h3>Bases de datos</h3>
    <ul>
      <li><i class="devicon-mysql-plain"></i> MySQL</li>
      <li><i class="devicon-mongodb-plain"></i> MongoDB</li>
      <li><i class="devicon-firebase-plain"></i> Firebase</li>
    </ul>
  </div>
  <div class="skills-section">
    <h3>Frontend</h3>
    <ul>
      <li><i class="devicon-html5-plain"></i> Html</li>
      <li><i class="devicon-react-original"></i> React</li>
    </ul>
  </div>
  <div class="skills-section">
    <h3>Móviles</h3>
    <ul>
      <li><i class="devicon-flutter-plain"></i> Fluter</li>
      <li><i class="devicon-ionic-original"></i> Ionic</li>
    </ul>
  </div>

</div>


<h3 id="contacto">¡Contáctame!</h3>
<div id="container-contacto">

  <app-formulario></app-formulario>
</div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<div id="social-links">
  <a href="https://www.instagram.com/iru_brandon?igsh=ZjcwaDcxZXBmOGVy" target="_blank">
    <i class="fab fa-instagram"></i>
  </a>
  <a href="https://github.com/SandovalBrandon1027" target="_blank">
    <i class="fab fa-github"></i>
  </a>
  <a href="https://www.linkedin.com/in/brandon-sandoval-3b81b12a5" target="_blank">
    <i class="fab fa-linkedin"></i>
  </a>

</div>

<div id="derechos">
  <span>© 2024 Brandon Sandoval</span>
</div>


